.THIS.DeepPink {
    background-color: deeppink;
}
.THIS.DeepSkyBlue{
    background-color: deepskyblue;
}
.THIS.LimeGreen{
    background-color: limegreen;
}
.THIS.Gold{
    background-color: gold;
}
.THIS.Red{
    background-color: red;
}
.THIS.RosyBrown{
    background-color: rosybrown;
}
.THIS.Tomato{
    background-color: tomato;
}
.THIS.Turquoise{
    background-color: darkturquoise;
}
.THIS.Violet{
    background-color: violet;
}
.THIS.YellowGreen{
    background-color: yellowGreen;
}
.THIS{
    height: 3rem;
    width: 3rem;
}